{% extends "template.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
	<h1>Mon super {{title}} blog !</h1>
	<p>Derniers billets du blog :</p>
        {% for item in posts %}
                <div class="news">
        <h3>
            <a href="?action=post&id={{item.id}}">{{ item.title }}</a>
            <em>le {{ item.creation_date_fr}}</em>
        </h3>
        
        <p>
			{{ item.content }}            <br />
            <em><a href="/mvc/?action=post&id={{item.id}}">Commentaires</a></em>
        </p>
    </div>
            
        {% endfor %}
{% endblock %}
        