ul {
    list-style: none;
    text-align: right;
        li {
          display: inline;
          font-size: 3rem;
          color: #D6FFF5;
          :hover {
              color: #001534;
          }
        }
  }