{% extends "template.twig" %} 

{% block title %}Backoffice - Adding post form{% endblock %} 
{% block head %} {{ parent() }}
 <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>

{% endblock %} 

{% block content %}
<div class="container">
<h1>{{title}}</h1>



	<form method="post" action="?action=addpost">
		<div class="form-group">
			<label for="username">Title</label> <input
				type="text" class="form-control" id="title" name="title"
				aria-describedby="postHelp" placeholder="Enter title of post"> 
		</div>
		
		<div class="form-group">
			<label for="content">Content</label> 
			<textarea name="content" class="form-control" id="content"></textarea> 
		</div>

			<input type="hidden" name="token" id="title" value="{{ token }}">

		
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

  <script>
  tinymce.init({
	    selector:   "textarea",
	    width:      '100%',
	    height:     500,

	});

  </script>
  
{% endblock %}
