{% extends "template.twig" %} 

{% block title %}Backoffice - Index{% endblock %} 
{% block head %} {{ parent() }}
{% endblock %} 

{% block content %}
<div class="container">
<h1>{{title}}</h1>


<p>
You are on the admin interface here - new template to implement - access rights...
</p>

</div>

  
{% endblock %}
